# Базовый URL вашего Jira инстанса
JIRA_BASE_URL=

# Авторизация в формате email:api_token
JIRA_AUTH=

# Альтернатива JIRA_AUTH
JIRA_EMAIL=
JIRA_API_TOKEN=

# Server port (backend)
PORT=3001
JIRA_CLI_PORT=
JIRA_BACKEND_PORT=
